body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
    background-color: #1e79da;
}

input {
    margin: 8px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
}